@media only screen and (max-width: 899px) {
  #sideAndMain {
    display: flex;
    flex-direction: column;
    #mainContent {
      max-width: 100%;
      .subHeading {
        padding: 10px 10px 10px 10px;
        font-size: 16px;
      }
      #popularMovies {
        display: flex;
        flex-direction: row;
        overflow: scroll;
      }
      #favouriteMovies {
        display: flex;
        flex-direction: row;
        overflow: scroll;
        .favouritesError {
          .errorMessage {
            padding: 10px 10px 10px 10px;
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  #sideAndMain {
    display: flex;
    flex-direction: row;
    #mainContent {
      display: flex;
      flex-direction: column;
      width: 83vw;
      height: calc(100vh - 90px);
      // border-top-left-radius: 10%;
      .subHeading {
        padding: 10px 10px 10px 10px;
        font-size: 16px;
      }
      #popularMovies {
        display: flex;
        flex-direction: row;
        overflow: scroll;
      }
      #favouriteMovies {
        display: flex;
        flex-direction: row;
        overflow: scroll;
        .favouritesError {
          .errorMessage {
            padding: 10px 10px 10px 10px;
            font-size: 16px;
          }
        }
      }
    }
  }
}
