@media only screen and (max-width: 899px) {
  .logoutModalContainer {
    max-width: 90%;
    aspect-ratio: 25/14;
    background-color: white;
    border-style: solid;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
    .modal {
      .btnContainer {
        height: 20px;
        button {
          background-color: #000000;
          outline: none;
          border: 1px solid #13dafb;
          color: #13dafb;
        }
        button:hover {
          background-color: #13dafb;
          color: #000000;
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .logoutModalContainer {
    max-width: 30%;
    max-height: 40%;
    background-color: #ffffff;
    border-style: solid;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
    .modal {
      .btnContainer {
        height: 20px;
        button {
          background-color: #000000;
          outline: none;
          border: 1px solid #13dafb;
          color: #13dafb;
        }
        button:hover {
          background-color: #13dafb;
          color: #000000;
        }
      }
      .formTitle {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
      }
      .logoutContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        padding: 10px;
        .logoutButtonDiv {
          padding: 10px 0px 10px 0px;
          width: 60%;
          .logoutButton {
            font-weight: bold;
            background-color: #000000;
            color: #13dafb;
            outline: none;
            border: 1px solid #13dafb;
            width: 100%;
            font-size: 16px;
          }
          .logoutButton:hover {
            background-color: #13dafb;
            color: #000000;
          }
        }
        .changePasswordButtonDiv {
          padding: 10px 0px 10px 0px;
          width: 60%;
          .changePasswordButton {
            font-weight: bold;
            background-color: #000000;
            color: #13dafb;
            outline: none;
            border: 1px solid #13dafb;
            width: 100%;
            font-size: 16px;
          }
          .changePasswordButton:hover {
            background-color: #13dafb;
            color: #000000;
          }
        }
        .deleteAccountButtonDiv {
          padding: 10px 0px 10px 0px;
          width: 60%;
          .deleteAccountButton {
            font-weight: bold;
            background-color: #000000;
            color: #13dafb;
            outline: none;
            border: 1px solid #13dafb;
            width: 100%;
            font-size: 16px;
          }
          .deleteAccountButton:hover {
            background-color: #13dafb;
            color: #000000;
          }
        }
        .checkDeleteTitle {
          text-align: center;
          font-size: 24px;
          font-weight: bold;
        }
      }
    }
  }
}
