@media only screen and (max-width: 400px) {
  #navBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    background-color: #000000;
    color: #13dafb;
    max-width: 100%;
    div {
      padding: 10px 10px 10px 10px;
      font-size: 10px;
    }
    #LoginButton {
      margin-left: auto;
    }
  }
}

@media only screen and (min-width: 400px) {
  #navBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    background-color: #000000;
    color: #13dafb;
    div {
      padding: 10px 10px 10px 10px;
      font-size: 20px;
    }
    #LoginButton {
      margin-left: auto;
    }
  }
}
