@media only screen and (max-width: 899px) {
  #sideBar {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: space-between;
    background-color: #000000;
    color: #13dafb;
    .searchBoxDiv {
      text-align: left;
      padding: 10px 10px 10px 10px;
      #searchLabel {
        width: 100%;
        font-size: 16px;
        text-align: center;
        padding-right: 10px;
      }
    }
    .checkBoxDiv {
      padding: 0px 10px 10px 10px;
      label {
        font-size: 16px;
        padding: 1px 1px 1px 1px;
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  #sideBar {
    margin: 0;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    width: 17vw;
    height: calc(100vh - 110px);
    background-color: #000000;
    color: #13dafb;
    text-align: left;
    div {
      // text-align: left;
      font-size: 16px;
      display: flex;
      flex-direction: column;
      #searchLabel {
        padding: 0;
      }
      #movieSearch {
        width: 80%;
        // font-size: 24px;
        font-size: 16px;
      }
      label {
        padding-top: 10px;
      }
    }
  }
}
