#sideBar {
  #backButtonDiv {
    display: flex;
    justify-content: center;
    max-width: 100%;
    .backButton {
      margin: 10px 10px 10px 10px;
      padding: 1px 1px 1px 1px;
      width: 100px;
    }
  }
}

@media only screen and (max-width: 899px) {
  #masterContainer {
    max-width: 100%;
    position: relative;
    .backDropContainer {
      width: 100%;
      max-height: 185px;
      overflow: hidden;
      .backDrop {
        width: 100%;
        opacity: 1;
      }
    }
    #singleMovieContainer {
      max-width: 100%;
      .moviePosterDiv {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 35%;
        .moviePoster {
          max-width: 100px;
          width: 100%;
          height: auto;
          z-index: 1;
        }
      }
      .singleMovieInfoContainer {
        max-width: 100%;
        .movieTitleDiv {
          padding: 10px 10px 10px 10px;
          // color: white;
          // background-color: black;
          .movieTitle {
            margin: 0;
          }
        }
        .subInfoDiv {
          padding: 10px 10px 10px 10px;
          max-width: 100%;
          width: max-content;
          display: flex;
          flex-direction: row;
          .cert {
            margin: 0;
            border-style: solid;
            padding: 1px 1px 1px 1px;
          }
          .moreInfo {
            margin: 0;
            padding: 4px 4px 4px 4px;
            li {
              list-style: none;
              display: inline;
              margin-left: 5px;
            }
            li:after {
              content: " \2022";
            }
            li:last-child:after {
              content: none;
            }
          }
        }
        .taglineDiv {
          padding: 10px 10px 10px 10px;
          .tagLine {
            margin: 0;
          }
        }
        .overviewTitleDiv {
          padding: 10px 10px 10px 10px;
          font-size: 16px;
          h2 {
            margin: 0;
          }
        }
        .movieOverviewDiv {
          padding: 10px 10px 10px 10px;
          font-size: 14px;
          .movieOverview {
            margin: 0;
          }
        }
        .playButtonDiv {
          padding: 10px 10px 10px 10px;
        }
      }
    }
    .overviewTitleDiv2 {
      display: none;
    }
    .movieOverviewDiv2 {
      display: none;
    }
  }
}

@media only screen and (min-width: 900px) {
  #masterContainer {
    width: 100%;
    position: relative;
    height: auto;
    .backDropContainer {
      .backDrop {
        width: 100%;
        height: auto;
        opacity: 0.2;
      }
    }
    #singleMovieContainer {
      padding: 10px 10px 10px 10px;
      display: flex;
      flex-direction: row;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      max-height: 100%;
      .moviePosterDiv {
        max-width: 35%;
        padding: 10px 10px 10px 0;
        .moviePoster {
          max-width: 300px;
          position: relative;
          width: 100%;
          height: auto;
          z-index: 1;
        }
      }
      .singleMovieInfoContainer {
        padding: 10px 10px 10px 10px;
        display: flex;
        flex-direction: column;
        max-width: 65%;
        height: 100%;
        .movieTitleDiv {
          padding: 10px 10px 10px 10px;
          .movieTitle {
            margin: 0;
            font-size: 28px;
          }
        }
        .subInfoDiv {
          padding: 10px 10px 10px 10px;
          width: max-content;
          display: flex;
          flex-direction: row;
          .cert {
            margin: 0;
            border-style: solid;
            padding: 1px 1px 1px 1px;
            font-size: 16px;
          }
          .moreInfo {
            margin: 0;
            padding: 4px 4px 4px 4px;
            li {
              list-style: none;
              display: inline;
              margin-left: 5px;
              font-size: 16px;
            }
            li:after {
              content: " \2022";
            }
            li:last-child:after {
              content: none;
            }
          }
        }
        .taglineDiv {
          padding: 10px 10px 10px 10px;
          .tagLine {
            margin: 0;
            font-size: 16px;
          }
        }
        .overviewTitleDiv {
          display: none;
        }
        .movieOverviewDiv {
          display: none;
        }
        .playButtonDiv {
          padding: 10px 10px 10px 10px;
          .playButton {
            font-size: 16px;
          }
        }
      }
    }
    .overviewTitleDiv2 {
      display: inline-block;
    }
    .movieOverviewDiv2 {
      display: inline-block;
    }
  }
}

@media only screen and (min-width: 1120px) {
  #masterContainer {
    width: 100%;
    position: relative;
    height: auto;
    .backDropContainer {
      width: 100%;
      max-height: 530px;
      overflow: hidden;
      .backDrop {
        width: 100%;
        opacity: 0.2;
      }
    }
    #singleMovieContainer {
      padding: 10px 10px 10px 10px;
      display: flex;
      flex-direction: row;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      max-height: 100%;
      .moviePosterDiv {
        max-width: 35%;
        padding: 10px 10px 10px 0;
        .moviePoster {
          max-width: 300px;
          position: relative;
          width: 100%;
          height: auto;
          z-index: 1;
        }
      }
      .singleMovieInfoContainer {
        padding: 10px 10px 10px 10px;
        display: flex;
        flex-direction: column;
        max-width: 65%;
        height: 100%;
        .movieTitleDiv {
          padding: 10px 10px 10px 10px;
          .movieTitle {
            margin: 0;
            font-size: 32px;
          }
        }
        .subInfoDiv {
          padding: 10px 10px 10px 10px;
          width: max-content;
          display: flex;
          flex-direction: row;
          .cert {
            margin: 0;
            border-style: solid;
            padding: 1px 1px 1px 1px;
            font-size: 18px;
          }
          .moreInfo {
            margin: 0;
            padding: 4px 4px 4px 4px;
            li {
              list-style: none;
              display: inline;
              margin-left: 5px;
              font-size: 16px;
            }
            li:after {
              content: " \2022";
            }
            li:last-child:after {
              content: none;
            }
          }
        }
        .taglineDiv {
          padding: 10px 10px 10px 10px;
          .tagLine {
            margin: 0;
            font-size: 16px;
          }
        }
        .overviewTitleDiv {
          display: inline-block;
          padding: 10px 10px 10px 10px;
          font-size: 16px;
          h2 {
            margin: 0;
            font-size: 24px;
          }
        }
        .movieOverviewDiv {
          padding: 10px 10px 10px 10px;
          font-size: 14px;
          display: inline-block;
          .movieOverview {
            margin: 0;
            font-size: 14px;
          }
        }
        .playButtonDiv {
          padding: 10px 10px 10px 10px;
          .playButton {
            font-size: 14px;
          }
        }
      }
    }
    .overviewTitleDiv2 {
      display: none;
    }
    .movieOverviewDiv2 {
      display: none;
    }
  }
}
